<?xml version="1.0" encoding="utf-8"?>
<PartnerRoleList>
    #if (!$errorCode)
    <Status>Accepted</Status>
        #foreach( $role in $roles )
    <Role>
        <RoleID>$role.id</RoleID>
        <Name>$role.name</Name>
    </Role>
        #end
    #else
    <Status>Not Accepted</Status>
    <ErrorCode>$errorCode</ErrorCode>
    <ErrorMessage>$errorMessage</ErrorMessage>
    #end
</PartnerRoleList>